#tere {
color= red
}
h1:hover {
    color: green;
    text-align: center;
    width: 300px;

}

p {
    font-family: verdana;
    text-align: left;
    font-size: small;
}

#konn {
    border-style:solid;
}

ul {
    list-style-type: upper-roman;
    font-size: large;
}

body {
    background-color: aquamarine;
}